.Litemenu-bar {
	background-color: black;
	/*list-style-type: none;*/
  	bottom: 0;
	/*padding: 10px;*/
	/*position: fixed;*/
  	z-index: 1;
  	left: 0;
  	height: 100%;
}

/*.Litemenu-Label {
	font-family: 'Open Sans', sans-serif;
}*/

.Lite-panel-label{
	color: white;
  	font-size: 20px;
	margin: 5px;
	font-family: 'Oswald', sans-serif;
	padding: 10px;
	/*display:inline;*/
}

h6 {
	color: white;
  	font-size: 35px;
  	margin: 5px;
  	text-align: center;
}