@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Oswald:wght@200&display=swap');


body {
  background-color: #DEDEDE;
}

.fa-lightbulb {
  font-size: 35px;
  color: grey;
}

.Litemenu-bar {
	display:inline-block;
	background-color: black;
	height: 100%; 
	padding: 10px;
	position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.Litemenu-Label {
  font-family: 'Open Sans', sans-serif;
}

.Lite-panel-label{
	color: white;
  font-size: 20px;
	margin: 5px;
	font-family: 'Oswald', sans-serif;
	padding: 10px;
}

h6 {
	color: white;
  font-size: 35px;
  margin: 5px;
  text-align: center;
}

/*
_______________________________________

		Styles for Interior design
_______________________________________
*/

/*.houseInterior {
	height: 250px;
  width: 300px;
  background-color: #ededed;
  top: 50%;
  left: 50%;
}*/

/*.First-room {
	height: 50px;
  width: 75px;
  border-bottom: 1px thin #939292; 
  border-right: 1px thin #939292;
}

.Second-room {
	height: 50px;
  width: 75px;
  border-bottom: 1px thin #939292; 
  border-left: 1px thin #939292;
}

.Light-Bulb{
	height: 15px;
  width: 15px;
  background-color: #555;
  border-radius: 50%;
}*/

.Light-Tab {
  margin: 5px;
}

.HouseProp {
  background-color: black;
  width: 300px;
  height: 250px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.testlite {
  display: block; 
  background-color: yellow;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  width: 126px;
  height: 180px;
}



