@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Oswald:wght@200&display=swap');


body {
  background-color: yellow;
}

.fa-lightbulb {
  font-size: 35px;
  color: grey;
}

.Litemenu-Label {
  font-family: 'Open Sans', sans-serif;
}

.Lite-panel-label{
	color: black;
  font-size: 30px;
	margin: 5px;
	font-family: 'Oswald', sans-serif;
	padding: 10px;
}

h6 {
	color: white;
  font-size: 35px;
  margin: 5px;
  text-align: center;
}

.Light-Tab {
  margin: 5px;
}